.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  transition: all 1s ;
  animation:infinite;
  animation-name: mockup;
  animation-duration: 3s;
  position: relative;
}
.App-logo-titulo {

  transition: all 1s ;
  animation:infinite;
  animation-name: mockup;
  animation-duration: 3s;
  position: relative;
}

@keyframes mockup{
  0%{
      transform: translateY(0%) ;
  }

 
  50%{
      transform: translateY(5%) ;
  }
 


  

  100%{
      transform: translateY(0%) ;

  }
  

}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.Titulo-carga{
  padding-top: 30px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
